@import "tailwindcss";


@theme {
  --color-primary: #D6FD60;
  --color-secondary: #003C51;

  --color-primary-light: #3b82f6;
  --color-primary-dark: #1e40af;

  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
  --color-info: #0ea5e9;

  --color-text-base: #111827;
  /* gray-900 */
  --color-text-secondary: #6b7280;
  /* gray-500 */
  --color-bg-base: #ffffff;
  --color-bg-container: #f9fafb;
}
